In [1]:
list1=[1,2,3,4]
list1
# array of elements stored in square brackets

[1, 2, 3, 4]

In [2]:
list2=['A','B','C','D']
list2

['A', 'B', 'C', 'D']

In [4]:
list3=['Apple',1234]
list3

['Apple', 1234]

In [7]:
list4=['A',1,5.2,10+30j]
list4

['A', 1, 5.2, (10+30j)]

- list is a heterogeneous property
- any kind of data type emements we can store in the form of list

In [9]:
list5=[100,100,100]
list5

[100, 100, 100]

In [10]:
list6=['A','a']
list6

['A', 'a']

In [11]:
list7=['hai how are you',[1,2,3]]
list7

['hai how are you', [1, 2, 3]]

- list in list also it can take

In [13]:
type(list1)

list

In [19]:
print(list1)

[1, 2, 3, 4]

$len-max-min-sum$

In [23]:
print(list1)
print(len(list1))
print(max(list1))
print(min(list1))
print(sum(list1))

[1, 2, 3, 4]
4
4
1
10

In [25]:
print(list2)
print(len(list2))
print(max(list2))
print(min(list2))
print(sum(list2))

['A', 'B', 'C', 'D']
4
D
A

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
print(list3)
print(len(list3))
print(max(list3))
print(min(list3))
print(sum(list3))

['Apple', 1234]
2

TypeError: '>' not supported between instances of 'int' and 'str'

In [27]:
print(list4)
print(len(list4))
print(max(list4))
print(min(list4))
print(sum(list4))

['A', 1, 5.2, (10+30j)]
4

TypeError: '>' not supported between instances of 'int' and 'str'

In [29]:
print(list5)
print(len(list5))
print(max(list5))
print(min(list5))
print(sum(list5))

[100, 100, 100]
3
100
100
300

In [30]:
print(list6)
print(len(list6))
print(max(list6))
print(min(list6))
print(sum(list6))

['A', 'a']
2
a
A

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [31]:
print(list7)
print(len(list7))
print(max(list7))
print(min(list7))
print(sum(list7))

['hai how are you', [1, 2, 3]]
2

TypeError: '>' not supported between instances of 'list' and 'str'

In [32]:
print(list1)
print(list2)

[1, 2, 3, 4]
['A', 'B', 'C', 'D']

In [35]:
list_concatination=list1+list2
list_concatination

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [36]:
print(list_concatination)

[1, 2, 3, 4, 'A', 'B', 'C', 'D']

In [38]:
list1-list2
list1*list2
list1/list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

$ multiply$ string $with$ integer

In [42]:
2*list1

[1, 2, 3, 4, 1, 2, 3, 4]

In [43]:
list2

['A', 'B', 'C', 'D']

In [44]:
'A' in list2

True

In [45]:
'B' in list2

True

In [47]:
'D' in list2

True

In [48]:
'Z' in list2

False

In [ ]:
# when ever you are reading in operator
# iterate the loop (for/while) and print the element

In [56]:
for i in list1:
    print(i)

1
2
3
4

In [50]:
for i in list2:
    print(i)

A
B
C
D

In [51]:
for i in list3:
    print(i)

Apple
1234

In [52]:
for i in list4:
    print(i)

A
1
5.2
(10+30j)

In [53]:
for i in list5:
    print(i)

100
100
100

In [54]:
for i in list6:
    print(i)

A
a

In [55]:
for i in list7:
    print(i)

hai how are you
[1, 2, 3]

In [59]:
i=0
while i<list2:
    print(i)
    i=i+1

TypeError: '<' not supported between instances of 'int' and 'list'

- if you want to deal with while
- we required numbers

### index operation

In [64]:
list2

['A', 'B', 'C', 'D']

In [ ]:
# python index start with zero
A   B   C   D
0   1   2   3

In [65]:
list2[0],list2[1],list2[2],list2[3]

('A', 'B', 'C', 'D')

In [67]:
i=0
while i< len(list2):
    print(list2[i])
    i=i+1

A
B
C
D

In [66]:
for i in range(len(list2)):
    print(list2[i])

A
B
C
D

In [ ]:
################################ For/ While ######################
# The positive index of A is 0
# the positive index of B is 1

# The negative index of A is 0
# the negative index of B is 1

# The positive index of A is 0 and negative index is -4
# the positive index of B is 1

In [70]:
for i in range(len(list2)):
    print('The positive index of {} is {}'.format(list2[i],i))

The positive index of A is 0
The positive index of B is 1
The positive index of C is 2
The positive index of D is 3

In [81]:
for i in range(len(list2)):
    print('The negative index of {} is {}'.format(list2[i],i-len(list2)))

The negative index of A is -4
The negative index of B is -3
The negative index of C is -2
The negative index of D is -1

In [76]:
for i in range(len(list2)):
    print('The positive index of {} is {} and negative index is {}'.format(list2[i],i,i-len(list2)))

The positive index of A is 0 and negative index is -4
The positive index of B is 1 and negative index is -3
The positive index of C is 2 and negative index is -2
The positive index of D is 3 and negative index is -1

In [79]:
i=0
while i<len(list2):
    print('The positive index of {} is {}'.format(list2[i],i))
    i+=1

The positive index of A is 0
The positive index of B is 1
The positive index of C is 2
The positive index of D is 3

In [82]:
i=0
while i<len(list2):
    print('The negative index of {} is {}'.format(list2[i],i-len(list2)))
    i+=1

The negative index of A is -4
The negative index of B is -3
The negative index of C is -2
The negative index of D is -1

In [83]:
i=0
while i<len(list2):
    print('The positive index of {} is {} and negative index is {}'.format(list2[i],i,i-len(list2)))
    i+=1

The positive index of A is 0 and negative index is -4
The positive index of B is 1 and negative index is -3
The positive index of C is 2 and negative index is -2
The positive index of D is 3 and negative index is -1

# check that mutable

In [86]:
list2

['A', 'B', 'C', 'D']

- list is mutable and 
- string is immutable

In [87]:
list2[0]='AAAAAAAAA'

In [88]:
list2

['AAAAAAAAA', 'B', 'C', 'D']

In [109]:
list1=[[[[1,2,3,4]]]]
list1[0]
#  retrive the index of 4
# what is the index of 4

[[[1, 2, 3, 4]]]

In [111]:
list1=[[[[1,2,3,4]]]]
list1[0][0][0][3]

4

In [116]:
list2=[[[[['A','B',[1,2,3,['Cherry']]]]]]]
list2[0][0][0][0][2][3][0]

'Cherry'

In [131]:
list1=[[1,2,3]]
for i in range(len(list1[0])):
    print(i)

0
1
2

In [129]:
list1=[[1,2,3]]
list2=list1[0]
for i in range(len(list2)):
    print(list2[i])

1
2
3