In [1]:
list1=['A','B','C','D','E','F',1,2,3,4,5,6]

In [2]:
list1[2:11:2]

['C', 'E', 1, 3, 5]

In [3]:
list1[2:11:-2]

[]

In [4]:
list1[2:-11:2]

[]

In [5]:
list1[2:-11:-2]

['C']

In [6]:
list1[-2:11:2]

[5]

In [7]:
list1[-2:-11:2]

[]

In [8]:
list1[-2:-11:-2]

[5, 3, 1, 'E', 'C']

In [9]:
list1[-2:11:-2]

[]

In [ ]:
# Wap ask the user print element which has lenght more than 4
# list1=['Hyderabad','Delhi','Chennai','Blr']
# output: ['Hyderabad', 'Delhi', 'Chennai']

In [12]:
list1=['Hyderabad','Delhi','Chennai','Blr']
list1[:3]

['Hyderabad', 'Delhi', 'Chennai']

In [17]:
list1=['Hyderabad','Delhi','Chennai','Blr']
for i in list1:
    if len(i)>=4:
        print(i)

Hyderabad
Delhi
Chennai

In [21]:
list1=['Hyderabad','Delhi','Chennai','Blr']
for i in range(len(list1)):
    if len(list1[i])>=4:
        print(list1[i])

Hyderabad
Delhi
Chennai

- in operator ======= direct element

- range() requires a number inside the bracket

- that num indicates index element

In [30]:
list1=['Hyderab#d','Delhi','Chenn#i','Blr']
for i in list1:
    if '#' in i:
        print(i)

Hyderab#d
Chenn#i

In [41]:
list1=['Hyderab#d','Delhi','Chenn#i','Blr']
for i in range(len(list1)):
    if '#' in list1[i]:
        print(list1[i])

Hyderab#d
Chenn#i

In [47]:
list1=['Hyderabad','Delhi','Chennai','Blr','Haridwar']
for i in range(len(list1)):
    if list1[i].lower()[0]=='h':
        print(list1[i])

Hyderabad
Haridwar

In [82]:
list1=['Hyderabad','Delhi','Chennai','Blr','Haridwar']

for i in list1:
    if i.lower().startswith('h'):
        print(i)

Hyderabad
Haridwar

In [52]:
list1=['omkar.nallagoni@gmail.com',
       'kareem.pasha@gamil.com',
       'sathosh.kadam@gmail.com']
list1

['omkar.nallagoni@gmail.com',
 'kareem.pasha@gamil.com',
 'sathosh.kadam@gmail.com']

In [104]:
list1=['omkar.nallagoni@gmail.com',
       'kareem.pasha@gamil.com',
       'sathosh.kadam@gmail.com']
for i in list1:
    print(i)
    print(i[i.index('.')+1:i.find('@')])
    li=i.split('@')[0].split('.')[1]
    print(li)

omkar.nallagoni@gmail.com
nallagoni
nallagoni
kareem.pasha@gamil.com
pasha
pasha
sathosh.kadam@gmail.com
kadam
kadam

In [66]:
str1="omkar.nallagoni@gmail.com"
str1.split('@')[0].split('.')[1]

'nallagoni'

### append

In [70]:
list1=[100,200,300]
list1.append(400)
list1

[100, 200, 300, 400]

In [74]:
l1=[]
l1.append(20)
l1

[20]

In [76]:
l1=[]
l1.append(['jk',20,1.2,'A'])
l1.append('Python')
l1
# append method will append at the last only

[['jk', 20, 1.2, 'A'], 'Python']

In [ ]:
# suppose if you want the same output then use append

In [78]:
list1=['Hyderab#d','Delhi','Chenn#i','Blr']
city_list=[]
for i in list1:
    if '#' in i:
        city_list.append(i)
city_list

['Hyderab#d', 'Chenn#i']

In [79]:
list1=['Hyderabad','Delhi','Chennai','Blr']
city_list=[]
for i in list1:
    if len(i)>=4:
        city_list.append(i)
city_list

['Hyderabad', 'Delhi', 'Chennai']

In [84]:
list1=['Hyderabad','Delhi','Chennai','Blr','Haridwar']
city_list1=[]
for i in list1:
    if i.lower().startswith('h'):
        city_list.append(i)
city_list

['Hyderabad',
 'Delhi',
 'Chennai',
 'Hyderabad',
 'Haridwar',
 'Hyderabad',
 'Haridwar']

In [88]:
f,s=[],[]
for i in list1:
    f.append(i)
    s.append(i)
f,s

(['Hyderabad', 'Delhi', 'Chennai', 'Blr', 'Haridwar'],
 ['Hyderabad', 'Delhi', 'Chennai', 'Blr', 'Haridwar'])

In [113]:
list1=['omkar.nallagoni@gmail.com','kareem.pasha@gamil.com','sathosh.kadam@gmail.com']
f,s=[],[]
for i in list1:
    f.append(i.find('.')[0])
    s.append(i[i.find('.')+1:i.find('@')])
f,s

TypeError: 'int' object is not subscriptable

In [99]:
import random
even,odd=[],[]
for i in range(10):
    n1= random.randint(1,50)
    if n1%2==0:
        even.append(n1)
    else:
        odd.append(n1)
even,odd

([16, 42, 6, 28, 34], [29, 19, 43, 33, 45])

 ### List comprehenshion

In [101]:
list1=['Hyderabad','Delhi','Chennai','Blr']
city_list=[]
for i in list1:
    if len(i)>=4:
        city_list.append(i)
city_list

output=[i for i in list1 if len(i)>=4]
output

['Hyderabad', 'Delhi', 'Chennai']

In [ ]:
[<output> <for loop> <if condition>]

In [103]:
list1=['Hyderab#d','Delhi','Chenn#i','Blr']
city_list=[]
for i in list1:
    if '#' in i:
        city_list.append(i)
city_list

output=[i for i in list1 if '#' in i]
output

['Hyderab#d', 'Chenn#i']

In [123]:
import random
even_odd=[]
for i in range(10):
    n1= random.randint(1,50)
    if n1%2==0:
        even_odd.append('even: {}'.format(n1))
    else:
        even_odd.append('odd: {}'.format(n1))
even_odd   
output=['even: {}'.format(n1) if n1%2==0 else 'odd: {}'.format(n1) for i in range(10)]
output

['even: 48',
 'even: 48',
 'even: 48',
 'even: 48',
 'even: 48',
 'even: 48',
 'even: 48',
 'even: 48',
 'even: 48',
 'even: 48']

In [120]:
list1=['omkar.nallagoni@gmail.com',
       'kareem.pasha@gamil.com',
       'sathosh.kadam@gmail.com']
for i in list1:
    print(i[i.index('.')+1:i.find('@')])
    
output=[i[i.index('.')+1:i.find('@')] for i in list1]
output

nallagoni
pasha
kadam

['nallagoni', 'pasha', 'kadam']

In [124]:
import random
even_odd=[]
for i in range(10):
    n1= random.randint(1,50)
    if n1%2==0:
        even_odd.append('even: {}'.format(n1))
    else:
        even_odd.append('odd: {}'.format(n1))
even_odd

['even: 46',
 'odd: 19',
 'even: 8',
 'odd: 25',
 'even: 40',
 'odd: 3',
 'even: 44',
 'even: 2',
 'odd: 49',
 'odd: 25']

In [ ]:
[<out put]