In [1]:
dict1={'course_id':'DS',
      'course_duartion':4,
      'course_fee':18000,
      'Institute':'Naresh It'}
dict1

{'course_id': 'DS',
 'course_duartion': 4,
 'course_fee': 18000,
 'Institute': 'Naresh It'}

In [3]:
dict1.items()
# All will come

dict_items([('course_id', 'DS'), ('course_duartion', 4), ('course_fee', 18000), ('Institute', 'Naresh It')])

In [4]:
dict1.keys()

dict_keys(['course_id', 'course_duartion', 'course_fee', 'Institute'])

In [6]:
dict1.values()

dict_values(['DS', 4, 18000, 'Naresh It'])

In [7]:
type(dict1)

dict

In [8]:
for i in dict1.items():
    print(i)

('course_id', 'DS')
('course_duartion', 4)
('course_fee', 18000)
('Institute', 'Naresh It')

In [10]:
for i,j in dict1.items():
    print(i,j)

course_id DS
course_duartion 4
course_fee 18000
Institute Naresh It

In [12]:
type(dict1.items())

dict_items

In [13]:
for i,j in dict1.items():
    print(i,':',j)

course_id : DS
course_duartion : 4
course_fee : 18000
Institute : Naresh It

In [ ]:
# type cast using List

In [14]:
list(dict1.items())

[('course_id', 'DS'),
 ('course_duartion', 4),
 ('course_fee', 18000),
 ('Institute', 'Naresh It')]

In [16]:
list(dict1.keys())

['course_id', 'course_duartion', 'course_fee', 'Institute']

In [17]:
list(dict1.values())

['DS', 4, 18000, 'Naresh It']

In [32]:
key=['course_id', 'course_duartion', 'course_fee', 'Institute']
key=['course_id', 'course_duartion', 'course_fee', 'Institute']

values=['DS', 4, 18000, 'Naresh It']

dict1={} 
values=['DS', 4, 18000, 'Naresh It']

dict1={}                                  # list=[]
import random                             # range(10)
for i,j in zip(key,values):               # list1[]
    dict1[i]=j
    
dict1

{'course_id': 'DS',
 'course_duartion': 4,
 'course_fee': 18000,
 'Institute': 'Naresh It'}

In [33]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
d2={i:j for i,j in zip(key,values)}
d2

{'course_id': 'DS',
 'course_duartion': 4,
 'course_fee': 18000,
 'Institute': 'Naresh It'}

In [38]:
list(d2.keys())

['course_id', 'course_duartion', 'course_fee', 'Institute']

In [39]:
list(d2.values())

['DS', 4, 18000, 'Naresh It']

$get$

In [43]:
dir(dict1)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [46]:
dict1.get('course_id')

'DS'

In [47]:
dict1.get('a')

In [ ]:
# No answer  No error

In [49]:
dict1.clear()

$copy - clear$

In [50]:
d1={'city':'Hyd'}
d2=d1.copy()
d1.clear()
print('d1:',d1)
print('d2:',d2)

d1: {}
d2: {'city': 'Hyd'}

$pop- popitem - del$

In [83]:
dict1={'course_id':'DS',
      'course_duartion':4,
      'course_fee':18000,
      'Institute':'Naresh It'}
dict1

{'course_id': 'DS',
 'course_duartion': 4,
 'course_fee': 18000,
 'Institute': 'Naresh It'}

In [56]:
dict1.pop('course_id')

'DS'

In [60]:
dict1.popitem()

# pop item is not taking any arguments
# it will retern output also
# which pare is removing
# last in first out

('Institute', 'Naresh It')

In [80]:
print(dict1.pop('course_id'))
# pop methios take one argumeny
# that argument is key, which you want to remove
# and return the corresponding value also
print(dict1)

DS
{'course_duartion': 4, 'course_fee': 18000, 'Institute': 'Naresh It'}

In [84]:
del dict1['course_duartion']
dict1

{'course_id': 'DS', 'course_fee': 18000, 'Institute': 'Naresh It'}

$ set of default$

In [87]:
dict1={'course_id':'DS',
      'course_duartion':4,
      'course_fee':18000,
      'Institute':'Naresh It'}
dict1['package']=300000
dict1

{'course_id': 'DS',
 'course_duartion': 4,
 'course_fee': 18000,
 'Institute': 'Naresh It',
 'package': 300000}

In [88]:
dict1={'course_id':'DS',
      'course_duartion':4,
      'course_fee':18000,
      'Institute':'Naresh It'}
dict1.setdefault('package')
dict1.setdefault('certificate','valid')
dict1

{'course_id': 'DS',
 'course_duartion': 4,
 'course_fee': 18000,
 'Institute': 'Naresh It',
 'package': None,
 'certificate': 'valid'}

$ from - keys$

In [90]:
dict1={'course_id':'DS',
      'course_duartion':4,
      'course_fee':18000,
      'Institute':'Naresh It'}

dict1.fromkeys()

TypeError: fromkeys expected at least 1 argument, got 0

In [93]:
dict1={}
key=['course_id', 'course_duartion', 'course_fee', 'Institute']
values=['DS', 4, 18000, 'Naresh It']
print(dict1.fromkeys(keys,'keys'))
dict1.fromkeys(values,'values')

{'course_id': 'keys', 'course_duartion': 'keys', 'course_fee': 'keys', 'Institute': 'keys'}

{'DS': 'values', 4: 'values', 18000: 'values', 'Naresh It': 'values'}