### lambda function with one arguments

In [1]:
# normal functon

def add(x):
    return(x+10)

add(10)

20

In [ ]:
# how many arguments are there?  x
# what you are returing)         x+10

<funtion name>= lambda <arguments names>: <return>

In [4]:
add= lambda x:x+10 # function is ready
add(10)

20

In [5]:
def mul(num):
    return(num*num)
mul(10)

100

In [7]:
mul=lambda num:num*num
mul(10)

100

In [8]:
def cube(val):
    return(val*val*val)
cube(3)

27

In [9]:
cube=lambda val: val*val*val
cube(3)

27

### lambda function with two arguements

In [11]:
def sum(a,b):
    return(a+b)
sum(10,20)

30

In [12]:
sum= lambda a,b: a+b
sum(10,20)

30

In [13]:
def avg(a,b,c):
    return(a+b+c)
avg(1,2,3)

6

In [15]:
avg= lambda a,b,c:a+b+c
avg(10,20,30)

60

In [16]:
def avg(a,b,c=100):
    return((a+b+c)/3)
avg(10,20)

43.333333333333336

In [19]:
avg= lambda a,b,c=100:((a+b+c)/3)
avg(10,20)

43.333333333333336

In [21]:
avg= lambda a,b,c=100:round((a+b+c)/3,2)
avg(10,20)

43.33

### lambda function with if-else

In [20]:
def greater (n1,n2):
    if n1>n2:
        return(n1)
    else:
        return(n2)
greater(1,2)

2

In [22]:
greater= lambda n1,n2 : n1 if n1>n2 else n2
greater(1,2)

2

In [ ]:
<function_name>=lambda <arg1,arg2> : <if_output> <if condition> else <else_output>

***lambda function with the list

In [28]:
# ################### method1
list1=['hyd','mumbai','delhi']
output=[]
for i in list1:
    output.append(i.capitalize())
output

['Hyd', 'Mumbai', 'Delhi']

# list comprehention means we need to be 
# the program in one line

In [ ]:
# ###################### method 2

In [29]:
list1=['hyd','mumbai','delhi']
output=[i.capitalize() for i in list1]
output

['Hyd', 'Mumbai', 'Delhi']

$maping$

In [33]:
lambda i:i.capitalize(), list1
# <function __main__.<lambda>(i)>
def abc(i):
    return(i.capitalize())

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'delhi'])

In [37]:
list(map(lambda i:i.capitalize(), list1))
# step-1: create a lambda function : lambda i:i>capitalize()
# s-2: add your iterator

# s1,s2 : lambda i:i>capitalize(),list1
# step-3 : mapping of both s1 and s-2
#         map(s-1,s-2)
#         map(lambda i:i>capitalize(),list1)
# step-4 : you need to save the result agin in alist or tuple

# list (map(step1,step2))
# list (map(lambda i:i>capitalize(),list1))

['Hyd', 'Mumbai', 'Delhi']

In [ ]:
######################## method3
lambda i:i.capitalize()  # iterate the value

In [ ]:
lambda i:i.capitalize(), <iterator>
# lambda <var>: <o/p>,<list1/string/tuple>

In [ ]:
# what is mean by iterator

#  which data itype you can iterate

# which data type you can print by using for loop

In [ ]:
string
dict
set
list
tuple are iterators

In [39]:
val=reversed('python')
for i in val:
    print(i,end='')

nohtyp

In [40]:
list1=[1,2,3,4]
# output= [1,4,9,16]
# create a normal function if it has a single value
list(map(lambda i:i*i,list1))

[1, 4, 9, 16]

In [59]:
list1=[1,2,3,4]

def square(num):
    return(num*num)
square(10)
list(map(lambda num:num*num, list1))

[1, 4, 9, 16]

In [43]:
out=[num*num for num in list1]
out

[1, 4, 9, 16]

### filter

In [48]:
list1=['hyd','biryani','buvaneshwar','rasagulla']
# output: [biryani, bhuvaneshwar, rasagula]
list(filter(lambda i:len(i)>3, list1))

['biryani', 'buvaneshwar', 'rasagulla']

In [53]:
list1=['hyd','biryani','buvaneshwar','rasagulla']
# return the items with has greater than 3
out=[]
for i in list1:
    if len(i)>3:
        out.append(i)
out

['biryani', 'buvaneshwar', 'rasagulla']

In [62]:
list1=['hyd','bir#yani','buvan#eshwar','rasa#gulla']
list(filter(lambda i:'#' in i , list1))

['bir#yani', 'buvan#eshwar', 'rasa#gulla']

In [67]:
list1=[1,2,3,4,5,6]
list(filter(lambda i:i if i%2==0: else i, list1))

SyntaxError: invalid syntax (488925064.py, line 2)

In [69]:
list1=[1,2,3,4,5,6]
for i in list1:
    if i%2==0:
        print(i,'even')
    else:
        print(i,'odd')

1 odd
2 even
3 odd
4 even
5 odd
6 even

In [80]:
list(map(lambda i:{i:'even'} if i%2==0 else {i:'odd'}, list1))

[{1: 'odd'}, {2: 'even'}, {3: 'odd'}, {4: 'even'}, {5: 'odd'}, {6: 'even'}]