# Functions

It is a block of codes

Have set of instruction and

we can recall multiple times

In [1]:
a=20
b=30
print(a+b)

50

In [ ]:
def <function_name>():
    #statement-1
    #s 2

In [7]:
base_sal=eval(input("enter base salary :"))
DA_amount=eval(input("enter DA amount :"))
total_sal=base_sal+DA_amount
print('The total salary :',total_sal)

enter base salary :65000
enter DA amount :7000
The total salary : 72000

In [5]:
def salary():
    base_sal=eval(input("enter base salary :"))
    DA_amount=eval(input("enter DA amount :"))
    total_sal=base_sal+DA_amount
    print('The total salary :',total_sal)
    # it will not show any eror aswellas 
    #it will not give any output also

In [6]:
salary()

enter base salary :60000
enter DA amount :15000
The total salary : 75000

In [9]:
#wap ask the user enter 3 num and cal avg
# implement a funation
a=eval(input("enter a n1 :"))
b=eval(input("enter a n2 :"))
c=eval(input("enter a n3 :"))
avg=(a+b+c)/3
print("Average of 3 numbers :",avg)

enter a n1 :20
enter a n2 :30
enter a n3 :40
Average of 3 numbers : 30.0

In [11]:
def average():
    a=eval(input("enter a n1 :"))
    b=eval(input("enter a n2 :"))
    c=eval(input("enter a n3 :"))
    avg=(a+b+c)/3
    print("Average of 3 numbers :",avg)

In [12]:
average()

enter a n1 :10
enter a n2 :2030
enter a n3 :30
Average of 3 numbers : 690.0

In [13]:
average()

enter a n1 :10
enter a n2 :20
enter a n3 :30
Average of 3 numbers : 20.0

In [ ]:
#wap ask the user enter bill amount 
# enter how much tip you want to pay
# cal total bill

In [16]:
try:
    bill_amount=eval(input("enter bill amount:"))
    tip_amount=eval(input("enter tip amount:"))
    total_bill=bill_amount+tip_amount
    print("Total bill amount :",total_bill)
except Exception as e:
    print(e)

enter bill amount:1000
enter tip amount:10
Total bill amount : 1010

In [17]:
def bill():
    try:
        bill_amount=eval(input("enter bill amount:"))
        tip_amount=eval(input("enter tip amount:"))
        total_bill=bill_amount+tip_amount
        print("Total bill amount :",total_bill)
    except Exception as e:
        print(e)

In [18]:
bill()

enter bill amount:1000
enter tip amount:10
Total bill amount : 1010

In [19]:
bill()

enter bill amount:2000
enter tip amount:36
Total bill amount : 2036

In [ ]:
#wap ask the user enter a num 
#print if it is an even or odd
#implement a function

In [25]:
try:
    n1=eval(input("enter a number :"))
    if n1%2==0:
        print("even numver")
    else:
        print("odd number")
except Exception as e:
    print()

enter a number :25
odd number

In [27]:
def odd_even():
    try:
        n1=eval(input("enter a number :"))
        if n1%2==0:
            print("even numver")
        else:
            print("odd number")
    except Exception as e:
        print()

# ** without arguments**

In [29]:
odd_even()

enter a number :5
odd number

In [ ]:
1) add() # not provided any thing inside brackets (with out arguments))
2) bill()

In [ ]:
# if you provide any thing inside the brackets 
# that are called arguments/parameters

In [ ]:
import random
random.randint()

# ** with argunments**

In [34]:
def add(a):
    b=20
    print(a+b)
add(10)

30

In [35]:
def add(a,b):
    print(a+b)
add(10)

TypeError: add() missing 1 required positional argument: 'b'

In [36]:
def add(a,b):
    print(a+b)
add(10,20)

30

In [38]:
def add(b,a):
    print(a+b)
add(10)

TypeError: add() missing 1 required positional argument: 'a'

In [39]:
def add(a):
    b=eval(input("enter b number :"))
    print(a+b)
add(10)

enter b number :20
30

In [40]:
def add(a,b):
    print(a+b)
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [44]:
def add():
    print(x+y)
    
add()

NameError: name 'x' is not defined

In [49]:
def average(a,b,c):
    avg=(a+b+c)/3
    print("Average of 3 numbers :",avg)
average(10,20,30)

Average of 3 numbers : 20.0

In [50]:
def bill(bill_amount,tip_amount):
    try:
        total_bill=bill_amount+tip_amount
        print("Total bill amount :",total_bill)
    except Exception as e:
        print(e)
bill(10000,7000)

Total bill amount : 17000

# **Default arguments**

In [ ]:
#WAP ask the user enter 3num and find the average.

In [52]:
def average(a,b,c=30):
    avg=(a+b+c)/3
    print("Average of 3 numbers :",avg)
    
average(10,20)
# fixed is default argumnets
#here c is default arguments

Average of 3 numbers : 20.0

In [57]:
def average(a,b,c=30):
    
    avg=(a+b+c)/3
    print("Average of 3 numbers :",avg)
    
average(10,20,60)

Average of 3 numbers : 30.0

In [ ]:
# initualize the first
# calling is second

In [59]:
def average(a,b,c=30):
    c=100
    avg=(a+b+c)/3
    print("Average of 3 numbers :",avg)
    
average(10,20)

Average of 3 numbers : 43.333333333333336

In [ ]:
def average(a,b,c=30):
    c=100
    avg=(a+b+c)/3
    print("Average of 3 numbers :",avg)
    
average(10,20,60)

In [ ]:
# step1: what initilized
#step2: call the function
#step3 : inside code

# always default modifier is last

In [61]:
def average(a,b=200,c):
    c=100
    avg=(a+b+c)/3
    print("Average of 3 numbers :",avg)
    
average(10,20)

SyntaxError: non-default argument follows default argument (1937893489.py, line 1)

In [62]:
def average(a,c,b=30):
    c=100
    avg=(a+b+c)/3
    print("Average of 3 numbers :",avg)
    
average(10,30)

Average of 3 numbers : 46.666666666666664

In [2]:
#method1
n1=eval(input("enter n1:"))
n2=eval(input("enter n2:"))
n3=eval(input("enter n3:"))
add=n1+n2+n3
avg=round(add/3,2)
print("add of {} {}and{}is {}".format(n1,n2,n3,add))
print("avg of {} {}and{}is {}".format(n1,n2,n3,avg))

enter n1:20
enter n2:30
enter n3:10
add of 20 30and10is 60
avg of 20 30and10is 20.0

In [4]:
#method3
def avg(n1,n2,n3):

    add=n1+n2+n3
    avg=round(add/3,2)
    print("add of {} {}and{}is {}".format(n1,n2,n3,add))
    print("avg of {} {}and{}is {}".format(n1,n2,n3,avg))

In [5]:
avg(10,20,30)

add of 10 20and30is 60
avg of 10 20and30is 20.0

# RETURN

In [13]:
#method4 
def avg_withd(n1,n2,n3=100):
    add=n1+n2+n3
    AVG=round(add/3,2)
    print("add of {} {}and{}is {}".format(n1,n2,n3,add))
    print("avg of {} {}and{}is {}".format(n1,n2,n3,AVG))
    return(AVG)

In [14]:
avg_withd(10,20)

add of 10 20and100is 130
avg of 10 20and100is 43.33

43.33

In [9]:
# i want to print outside the function
print(AVG)
# that function not handover the value
# He is not return, the value
#Just printing the value

NameError: name 'AVG' is not defined

In [15]:
print(AVG)

NameError: name 'AVG' is not defined

In [19]:
def avg():
    n1=eval(input("enter n1:"))
    n2=eval(input("enter n2:"))
    n3=eval(input("enter n3:"))
    add=n1+n2+n3
    AVG=round(add/3,2)
    print("add of {} {}and{}is {}".format(n1,n2,n3,add))
    print("avg of {} {}and{}is {}".format(n1,n2,n3,AVG))
    return(AVG)

In [20]:
avg_value=avg()

enter n1:20
enter n2:30
enter n3:40
add of 20 30and40is 90
avg of 20 30and40is 30.0

In [21]:
avg_value

30.0

In [22]:
def avg():
    n1=eval(input("enter n1:"))
    n2=eval(input("enter n2:"))
    n3=eval(input("enter n3:"))
    ADD1=n1+n2+n3
    AVG1=round(ADD1/3,2)
    print("add of {} {}and{}is {}".format(n1,n2,n3,ADD1))
    print("avg of {} {}and{}is {}".format(n1,n2,n3,AVG1))
    return(ADD1,AVG1)

In [23]:
add_avg_value=avg()

enter n1:10
enter n2:20
enter n3:30
add of 10 20and30is 60
avg of 10 20and30is 20.0

In [24]:
add_avg_value

(60, 20.0)

In [28]:
num1add,num2avg=avg()

enter n1:10
enter n2:20
enter n3:30
add of 10 20and30is 60
avg of 10 20and30is 20.0

In [29]:
num1add

60

In [30]:
num2avg

20.0

In [ ]:
#create a function with default as tax % =10
# enter your salary
# cal total tax you want to pay
# return tax amount

In [33]:
def tax():
    sal=eval(input("Enter your salary:"))
    tax=0.10
    total_tax=sal*tax
    print(total_tax)
    return(total_tax)

In [34]:
total_tax_amount=tax()

Enter your salary:10000
1000.0

In [35]:
total_tax_amount

1000.0

In [ ]:
#wap with two a and b arguments and
# cal add sub mul div

In [1]:
def cal():
    a=eval(input("enter n1:"))
    b=eval(input("enter n2:"))
    add=a+b
    sub=a-b
    mul=a*b
    div=a/b
    print(add,sub,mul,div)
    return(add,sub,mul,div)
cal()

enter n1:10
enter n2:20
30 -10 200 0.5

(30, -10, 200, 0.5)

In [7]:
add,sub,mul,div=cal()

enter n1:10
enter n2:20
30 -10 200 0.5

In [8]:
sub

-10

In [11]:
def cal(a,b):
    add=a+b
    sub=a-b
    mul=a*b
    div=a/b
    print(add,sub,mul,div)
    return(add,sub,mul,div)
add,sub,mul,div=cal(10,20)

30 -10 200 0.5

In [12]:
add

30

In [13]:
mul

200

 #local variables means inside the function
 #Global variables means outside the functions it can use function also

# functions

In [51]:
    try:
        n1=eval(input("Enter a num1 :"))
        n2=eval(input("Enter a num2 :"))
        n3=eval(input("Enter a num3 :"))
        if n3> n1 and n2:
            print("n3 is greater")
        elif n2> n3 and n1:
            print("n2 is greater")
        else:
            print("n1 is greater")
    except Exception as e:
        print(e)

Enter a num1 :10
Enter a num2 :20
Enter a num3 :30
n3 is greater

In [53]:
def gretest():
    try:
        n1=eval(input("Enter a num1 :"))
        n2=eval(input("Enter a num2 :"))
        n3=eval(input("Enter a num3 :"))
        if n3> n1 and n2:
            print("n3 is greater")
        elif n2> n3 and n1:
            print("n2 is greater")
        else:
            print("n1 is greater")
    except Exception as e:
        print(e)

In [54]:
gretest()

Enter a num1 :10
Enter a num2 :20
Enter a num3 :30
n3 is greater

In [55]:
def gretest(n1,n2,n3):
    try:
        if n3> n1 and n2:
            print("n3 is greater")
        elif n2> n3 and n1:
            print("n2 is greater")
        else:
            print("n1 is greater")
    except Exception as e:
        print(e)

In [56]:
gretest(10,20,30)

n3 is greater

In [58]:
def gretest_with_r_l(n1,n2,n3=30):
    try:
        if n3> n1 and n2:
            print("n3 is greater")
        elif n2> n3 and n1:
            print("n2 is greater")
        else:
            print("n1 is greater")
    except Exception as e:
        print(e)

In [59]:
gretest_with_r_l(10,20)

n3 is greater

In [60]:
def gretest():
    try:
        n1=eval(input("Enter a num1 :"))
        n2=eval(input("Enter a num2 :"))
        n3=eval(input("Enter a num3 :"))
        if n3> n1 and n2:
            print("n3 is greater")
        elif n2> n3 and n1:
            print("n2 is greater")
        else:
            print("n1 is greater")
        return(n1,n2,n3)    
    except Exception as e:
        print(e)

In [62]:
gretest()

Enter a num1 :10
Enter a num2 :20
Enter a num3 :30
n3 is greater

(10, 20, 30)

In [64]:
n1,n2,n3=gretest()
print(n1,n2,n3)

Enter a num1 :10
Enter a num2 :20
Enter a num3 :30
n3 is greater
10 20 30

In [65]:
n1

10

In [66]:
def gretest(n1,n2,n3):
    try:
        if n3> n1 and n2:
            print("n3 is greater")
        elif n2> n3 and n1:
            print("n2 is greater")
        else:
            print("n1 is greater")
        return(n1,n2,n3)    
    except Exception as e:
        print(e)

In [72]:
g=gretest(10,20,30)
print(g)

n3 is greater
(10, 20, 30)

In [73]:
g

(10, 20, 30)