# For
# While

In [ ]:
loops means circle
if you want to iterate same task many num of times, then we go for loops
if we want to use same code many times use functions

In [ ]:
if <condition> : 
    indentation will be there

In [ ]:
# if i want to print first 10 numbers

In [ ]:
- intialization (start point)
- condition  ( stop )
- increment or decrement

**Note**
The index always start with zero

In [ ]:
12345678910
i=1
i=2
i=3

In [1]:
for i in range(10):
    print(i)
    #i= want________________i=0, i=1, i=3,............i=9
    # start=0 (python index start with zero)
    # i in range(10)=============== start/stop/incre.
    #nothing mentioned means zero is the starting point.

0
1
2
3
4
5
6
7
8
9

*pattern-1*

In [ ]:
range(stop)

- start=0  # python index start with zero
- end= stop-1
- increment

In [7]:
for i in range(20):
    print(i,end=' ')
    #start=0
    #end=stop-1
    #increment

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

*pattern-2*

In [ ]:
range(start,stop)
 start=start
 end=stop-1
 incremental
    
for example: range (10,20)
start=10
stop=20-1=19
incremental

In [9]:
for i in range(10,20):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

*pattern-3*

In [ ]:
range(start,stop,step)

1- start=start
- stop value depends on sign on step value
- step sign is +: incremental
- step sign is -: decremental

In [ ]:
for i in range(5,20,3)
#start=5
#stop=decide on step sign
#step=3 ======== +ve
# end= stop-1 = 20-3 = 19

for i in range(5,20,3)
# step= -3
#end = stop+1 = 20+1 = 21

In [ ]:
for i in range(5,20,3)
#===================fix the value ==============
# start= 5
# stop= +ve
# end= stop-1 = 20-1 =19
#==================anser is possible ============
#-------------------> forward

#==================answer=============
5 (5 8 11 14 17)    19

In [10]:
for i in range(5,20,3):
    print(i,end=" ")

5 8 11 14 17

In [11]:
for i in range(-5,-20,-3):
    print(i,end=" ")
#start value=-5
#step sign -ve
# decrement
# end stop+1=-20+1=-19
##########possivle or not##########
#<------------------- reverse
# ober 2
#-5 -8 -11 -14 -17

-5 -8 -11 -14 -17

In [12]:
for i in range(5,20,-3):
    print(i,end='')
#start= 5
#sign -ve
#decrement
#end= stop+1 = 20+1=21
#<----------------
#reverse

In [14]:
for i in range(10,30,3):
    print(i,end=" ")
#start=10, dir=+ve, stop=30-1=29, forward
#possible#P

10 13 16 19 22 25 28

In [15]:
for i in range(10,30,-3):
    print(i,end=" ")
    #NP

In [16]:
for i in range(10,-30,3):
    print(i,end=" ")
    #NP

In [17]:
for i in range(10,-30,-3):
    print(i,end=" ")
    #P

10 7 4 1 -2 -5 -8 -11 -14 -17 -20 -23 -26 -29

In [18]:
for i in range(-10,-30,-3):
    print(i,end=" ")
    #P

-10 -13 -16 -19 -22 -25 -28

In [19]:
for i in range(-10,-30,3):
    print(i,end=" ")
    #NP

In [20]:
for i in range(-10,30,3):
    print(i,end=" ")
    #P

-10 -7 -4 -1 2 5 8 11 14 17 20 23 26 29

In [21]:
for i in range(40,5,-3):
    print(i,end=" ")
    
    #Possible

40 37 34 31 28 25 22 19 16 13 10 7

In [ ]:
# WAP ask the user print 1 st 10 square num
#1 to 10
#1 4 9 16

In [28]:
for i in range(1,11):
    print("The square of {} is {}". format(i,i*i))

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25
The square of 6 is 36
The square of 7 is 49
The square of 8 is 64
The square of 9 is 81
The square of 10 is 100

In [31]:
#wap to print 7 table 7*1=7 upto 10
for i in range(1,11):
    print("7 * {} = {}". format(i,7*i))

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [2]:
#wap wap ask the user take a random number between 1 to 100 and print square of number
# abd this operator do 5 times
for i in range(5):
    import random
    n=random.randint(1,100)
    sq_num=n*n
    sq_num
    print(sq_num)

1369
3249
4096
3136
8649

In [1]:
for i in range(5):
    import random
    n=random.randint(1,100)
    s_n=n*n
    print(s_n)

1849
5329
9025
1024
8649

In [40]:
for i in range(5):
    print(i)

0
1
2
3
4

In [44]:
import random
for i in range(5):
    num=random.randint(1,100)
    print("The square of {} is {}".format(num,num*num))

The square of 23 is 529
The square of 23 is 529
The square of 70 is 4900
The square of 40 is 1600
The square of 27 is 729

In [ ]:
# for loop is just a joint wheel